<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User fa-list</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="typing">Students List!</h2>
                <a href="/ui/add-student" class="add-button">Add</a>                
            </div>
            <ul class="matrix-list">
                <% users.forEach(user=> { %>
                    <li>
                        <%= user.name %> |
                            <%= user.age %> |
                                <%= user.email %> |
                                    <a href="/ui/delete-student-api/<%= user._id %>">Delete Me!</a> |
                                    <a href="/ui/update-student-api/<%= user._id %>">Update Me!</a>
                    </li>
                    <% }) %>
            </ul>
            <button onclick="window.history.back()">↩ Go Back</button>
        </div>
    </div>
</body>

</html>